parameters:

    paths:
        - src/

    # Level 10 is the highest level
    level: 6

    ignoreErrors:
        #- '#PHPDoc tag @var#'
        #- identifier: trait.unused
        - identifier: method.notFound
        #- identifier: return.unusedType
        #- identifier: phpDoc.parseError
        #- identifier: larastan.noEnvCallsOutsideOfConfig
        - identifier: missingType.generics
        - identifier: missingType.iterableValue

    excludePaths:
        - ./src/Client/Concerns/*.php
        - ./src/Traits/*.php
